
$clr-bcg-lignt: rgb(255, 190, 106);
$clr-font-light: rgb(0, 0, 0);
$clr-card-back-light: rgb(241, 241, 241);

$clr-bcg-dark: rgb(70, 44, 2);
$clr-font-dark: rgb(253, 253, 253);
$clr-card-back-dark: rgb(129, 129, 129);


$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;


@mixin content($color-default, $color-main, $color-card) {
    .foodShortList-container{
        padding: $padding-margin-md;
        @media (max-width: $extraSmall) {
            padding: $padding-margin-md $padding-margin-ex-sm;
        }

        .foodArrow{
            background-color: transparent;
        }

        .single-silk{
            padding: 20px 0;
            .silck-card{
                margin: 0 20px;
                background-color: rgba($color-card, $alpha: 0.6);
                border: 1px solid $color-card;
                text-align: center;
                border-radius: 30px;
                transition: $transition;
                &:hover{
                    background-color: $color-card;
                    box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
                    -webkit-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
                    -moz-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);

                    img{
                        transform: scale(1.2);
                    }
                }
                .img-container{
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                    overflow: hidden;
                    img{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        border-top-right-radius: 30px;
                        border-top-left-radius: 30px;
                        cursor: pointer;
                        transition: $transition;
                    }
                }
                .card-content{
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                    padding: 20px;
                    p{
                        font-family: Arial, Helvetica, sans-serif;
                        margin-bottom: 10px;
                    }
                    .price{
                        color: $color-main;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: $font-base-lg;
                        font-weight: bold;
                    }
                    button{
                        width: 130px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $font-base-lg;
                        background-color: transparent;
                        border: 1px solid $color-default;
                        border-radius: 30px;
                        margin: 0 auto;
                        margin-top: 10px;
                        transition: $transition;
                        color: $color-main;
                        cursor: pointer;
                        &:hover{
                            background-color: $color-default;
                        }
                    }
                }
            }
        }
    }
}


.light-theme {
    @include content($clr-bcg-lignt, $clr-font-light,$clr-card-back-light);
  }
  
  .dark-theme {
    @include content($clr-bcg-dark, $clr-font-dark,$clr-card-back-dark);
  }