

$clr-bcg-lignt: rgb(255, 190, 106);
$clr-font-light: rgb(0, 0, 0);

$clr-bcg-dark: rgb(70, 44, 2);
$clr-font-dark: rgb(253, 253, 253);


$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;


@mixin content($color-default, $color-main) {
    .header{
        position: relative;

        .carousel-item{
            max-height: 80vh;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }

            .carousel-content{
                background-color: rgba(189, 189, 189, 0.5);
                position: absolute;
                top: 50%;
                left: $padding-margin-md;
                transform: translateY(-50%);
                width: 700px;
                text-align: left;
                font-family: Arial, Helvetica, sans-serif;
                padding: $padding-margin-sm;
                border-radius: 10px;
                overflow: hidden;
                color: #000;
                @media (max-width: $ex-medium) {
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 0;
                  }
                  @media (max-width: $small) {
                    display: none;
                  }
                h3{
                    font-size: $h3;
                    margin-bottom: $padding-margin-ex-sm;
                }
                h2{
                    font-size: $h1;
                    margin-bottom: $padding-margin-ex-sm;
                }
                p{
                   margin-bottom: $padding-margin-ex-sm;
                }

                button{
                    width: 130px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $font-base-lg;
                    font-weight: bold;
                    border: 2px solid #000;
                    border-radius: 30px;
                    color: #000;
                    background-color: transparent;
                    transition: $transition;
                    cursor: pointer;

                    &:hover{
                        background-color: $color-default;
                        border-color: $color-default;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .arrow{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: transparent;
            font-size: $h2;
            color: #fff;
            border: none;
            outline: none;
            position: relative;
            z-index: 2;
            @media (max-width: $small) {
                font-size: $h4;
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: #000000, $alpha: 0.2);
                border-radius: 50%;
                transform: scale(0);
                transition: $transition;
                opacity: 0;
            }
            &:hover{
                &::after{
                    transform: scale(1.6);
                    opacity: 1;
                    @media (max-width: $small) {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .indicator{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
            background-color: transparent;
            border: 1px solid $color-main;
            transition: $transition;
            z-index: 1;
            &.active{
                background-color: $color-default;
                transition: $transition;
                transform: scale(1.5);
            }
        }
    }
    .carousel{
        z-index: 0;
    }
}

  
.light-theme {
    @include content($clr-bcg-lignt, $clr-font-light);
  }
  
  .dark-theme {
    @include content($clr-bcg-dark, $clr-font-dark);
  }