@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&family=Tangerine:wght@700&display=swap');


$clr-bcg-lignt: rgb(255, 190, 106);
$clr-font-light: rgb(0, 0, 0);
$clr-card-back-light: rgb(241, 241, 241);

$clr-bcg-dark: rgb(70, 44, 2);
$clr-font-dark: rgb(253, 253, 253);
$clr-card-back-dark: rgb(129, 129, 129);


$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;


@mixin content($color-default, $color-main, $color-card) {
    nav{
        padding: 20px $padding-margin-md;
        background-color: $color-default;
        box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
        -webkit-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
        -moz-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
        z-index: 10;
        @media (max-width: $extraSmall) {
          padding: 10px $padding-margin-ex-sm;
        }
        .nav-container{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .link-container{
            flex: 1.5;
            @media (max-width: $ex-medium) {
              display: none;
            }
            ul{
              display: flex;
              justify-content: space-between;
              li{
                a{
                  font-size: $font-base-lg;
                  font-weight: bold;
                  &.active{
                    color: red;
                  }
                }
              }
            }
          }
          .logo-container{
            flex: 1;
            text-align: center;
            @media (max-width: $ex-medium) {
              text-align: left;
            }
            h1{
              color: #fff;
              font-size: $heading-sm;
              cursor: pointer;
              font-family: 'Tangerine', cursive;
              font-weight: 700;
              @media (max-width: $small) {
                font-size: $h1;
              }
            }
          }
          .cart-menu{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cart-container{
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              @media (max-width: $ex-medium) {
                justify-content: flex-end;
              }
              .dark-mood{
                margin-right: 20px;
                @media (max-width: $ex-medium) {
                  margin-right: 20px;
                }
                @media (max-width: $small) {
                  margin-right: 10px;
                }
                span{
                  font-size: $font-base-lg;
                  @media (max-width: $ex-medium) {
                    font-size: 12px;
                  }
                }
              }
              .cart-icon{
                position: relative;
                margin-right: 20px;
                @media (max-width: $ex-medium) {
                  margin-right: 20px;
                }
                @media (max-width: $small) {
                  margin-right: 10px;
                }
                span{
                  font-size: $h3;
                  z-index: 1;
                  cursor: pointer;
                  @media (max-width: $small) {
                    font-size: $h4;
                  }
                }
                .item-total{
                  position: absolute;
                  top: -10px;
                  right: -10px;
                  background-color: #fff;
                  border-radius: 10px;
                  width: 15px;
                  height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  z-index: -1;
                  color: #000;
                  font-size: 15px;
                }
              }
              .cart-items-price{
                @media (max-width: $ex-medium) {
                  display: none;
                }
                span{
                  font-size: $font-base-lg;
                }
                .spacial-tag{
                  color: #fff;
                }
              }

              .menu{
                display: none;
                @media (max-width: $ex-medium) {
                  display: block;
                }
                span{
                  font-size: $h2;
                  cursor: pointer;
                }
              }
            }
          }
        }
    }

    .drawer-container{
      min-width: 300px;
      width: 100%;
      height: 100%;
      background-color: $color-default;
      display: flex;
      flex-direction: column;
      max-width: 400px;
      font-family: Arial, Helvetica, sans-serif;
      color: $color-main;

      .close-btn{
        font-size: 20px;
        width: 40px;
        height: 40px;
        background-color: rgba($color-card, $alpha: 0.4);
        border: 1px solid $color-card;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        font-weight: lighter;
        cursor: pointer;
        color: $color-main;
        &:hover{
          background: $color-card;
          box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
          -webkit-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
          -moz-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
        }
        &:focus{
          outline: none;
        }
      }

      .drawer-btn-container{
        padding-left: 20px;
        flex: 1;
        border-bottom: 1px solid rgba($color-card, $alpha: 0.6);
        display: flex;
        align-items: center;
        h3{
          flex: 1;
          font-size: $h3;
          display: block;
          text-align: center;
          margin-top: 10px;
        }
      }

      .drawer-product-container{
        flex: 5;
        padding: 10px 20px;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
      }
        .cart-item{
          display: flex;
          margin-bottom: 20px;
          .img-container{
            flex: 2;
            img{
              display: block;
              width: 100%;
              border-radius: 5px;
            }
          }

          .cart-content{
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 10px;

            h3{
              font-size: $h4;
            }

            h4{
              font-size: $font-base;
            }

            .quantity{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background-color: rgba($color-card, $alpha: 0.3);
              width: 50px;
              height: 40px;
              margin-right: 10px;
              position: relative;
              padding-left: 10px;
              &:hover{
                  .top,.bottom{
                      display: block;
                  }
              }
              

              .top{
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  right: 5px;
                  top: 5px;
                  border-left: 1px solid $color-card;
                  border-bottom: 1px solid $color-card;
                  transform: rotate(135deg);
                  cursor: pointer;
                  display: none;
                  transition: $transition;
                  &:hover{
                      border-width: 2px;
                  }
              }
              .bottom{
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  right: 5px;
                  bottom: 5px;
                  border-left: 1px solid $color-card;
                  border-bottom: 1px solid $color-card;
                  transform: rotate(-45deg);
                  cursor: pointer;
                  display: none;
                  transition: $transition;
                  &:hover{
                      border-width: 2px;
                  }
                  
              }
            }

          }

          .remove-btn{
            flex: 1;
            text-align: right;
            span{
              color: $color-card;
              cursor: pointer;
              transition: $transition;
              &:hover{
                color: $color-main;
              }
            }
          }
        }
      }

      .drawer-bottom-container{
        flex: 1;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba($color-card, $alpha: 0.5);
        strong{
          margin-bottom: 10px;
        }
        .btn-group{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          button{
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-base-lg;
            border: none;
            border-radius: 30px;
            background-color: rgba($color-card, $alpha: 0.6);
            cursor: pointer;
            transition: $transition;
            color: $color-main;
            &:hover{
                box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
                -webkit-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
                -moz-box-shadow: -1px 7px 17px -8px rgba(0,0,0,0.66);
                background-color: $color-card;
            }
            &:focus{
                outline: none;
            }
            &:first-child{
              margin-right: 10px;
            }

          }
        }
      }
    }
    .menu-drawer{
      .drawer-btn-container{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }

      .logo-container{
        flex: 1;
        padding: 0;
        h1{
          color: #fff;
          font-size: $heading-sm;
          cursor: pointer;
          font-family: 'Tangerine', cursive;
          font-weight: 700;
          padding: 20px;
          @media (max-width: $small) {
            font-size: $h1;
          }
        }
      }

      .link-container{
        flex: 5;
        padding-left: 20px;
        ul{
          border-right: 5px solid $color-card;
          background: $color-card;
          li{
            a{
              display: block;
              padding: 10px 0;
              border-start-end-radius: 10px;
              border-end-end-radius: 10px;
              background: yellow;
              &.active{
                border-start-end-radius: 0;
                border-end-end-radius: 0;
                background-color: $color-card;
                &.active ~ a{
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .light-theme {
    @include content($clr-bcg-lignt, $clr-font-light,$clr-card-back-light);
  }
  
  .dark-theme {
    @include content($clr-bcg-dark, $clr-font-dark,$clr-card-back-dark);
  }